.body {
  display: flex;
}

.newContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
}

.newContainer button {
  width: 150px;
  border: none;
  outline: none;
  border-radius: 2px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  margin: 0px 0px 10px;
}

.special {
  border: 2px solid grey !important;
  color: green !important;
  font-weight: bold;
}

.right_panel {
  margin-left: 100px;
}

.left_panel {
  width: 330px;
  height: 100%;
  margin: 0;
}
